@import '../common/style/var.less';
@import '../common/style/theme.less';

.van-button {
  //position: relative;
  //display: inline-flex;
  //align-items: center;
  //justify-content: center;
  //box-sizing: border-box;
  //padding: 0;
  //line-height: @button-line-height;
  //text-align: center;
  //vertical-align: middle;
  /* 这两个属性是什么的? */
  /* 主要是禁用ios下button的默认样式 */
  //-webkit-appearance: none;
  /* 主要是让小屏幕的手机字号看上去大一些 */
  //-webkit-text-size-adjust: 100%;

  //.theme(height, @button-default-height);
  //.theme(font-size, @button-default-font-size);
  //.theme(transition, opacity @animation-duration-fast);
  //.theme(border-radius, @button-border-radius);

  /* 继承边框和圆角的目的是什么? */
  /* 如果不继承的话,button有圆角时,这个的边框就会超出button范围 */
  /* 用css过渡实现点击态的想法确实妙 */
  //&::before {
  //  position: absolute;
  //  top: 50%;
  //  left: 50%;
  //  width: 100%;
  //  height: 100%;
  //  border: inherit;
  //  border-radius: inherit; /* inherit parent's border radius */
  //  transform: translate(-50%, -50%);
  //  opacity: 0;
  //  content: ' ';
  //
  /* 为啥要把边框和背景设置成黑色呢? */
  /* 就是为了透明过渡嘛,点一下就从 0变成 0.15 即透明变成一点暗灰 */
  //  .theme(background-color, @black);
  //  .theme(border-color, @black);
  //}

  // reset weapp default border
  //&::after {
  //  /* todo 用border和border-width有啥区吗? */
  //  border-width: 0;
  //}

  //&--active::before {
  //  opacity: 0.15;
  //}

  /* 搞这个属性在这儿干嘛呢?本身就只有一个边框样式呀 */
  /* 很多其他情况会,也会给after加内容 */
  //&--unclickable::after {
  //  display: none;
  //}

  //&--default {
  //  .theme(color, '@button-default-color');
  //  .theme(background-color, '@button-default-background-color');
  //  .theme(border, '1px solid @button-default-border-color');
  //}
  //
  //&--primary {
  //  .theme(color, '@button-primary-color');
  //  .theme(background-color, '@button-primary-background-color');
  //  .theme(border, '1px solid @button-primary-border-color');
  //}
  //
  //&--info {
  //  .theme(color, '@button-info-color');
  //  .theme(background-color, '@button-info-background-color');
  //  .theme(border, '1px solid @button-info-border-color');
  //}
  //
  //&--danger {
  //  .theme(color, '@button-danger-color');
  //  .theme(background-color, '@button-danger-background-color');
  //  .theme(border, '1px solid @button-danger-border-color');
  //}
  //
  //&--warning {
  //  .theme(color, '@button-warning-color');
  //  .theme(background-color, '@button-warning-background-color');
  //  .theme(border, '1px solid @button-warning-border-color');
  //}

  //&--plain {
  //  .theme(background-color, @button-plain-background-color);
  //
  //  &.van-button--primary {
  //    .theme(color, '@button-primary-background-color');
  //  }
  //
  //  &.van-button--info {
  //    .theme(color, '@button-info-background-color');
  //  }
  //
  //  &.van-button--danger {
  //    .theme(color, '@button-danger-background-color');
  //  }
  //
  //  &.van-button--warning {
  //    .theme(color, '@button-warning-background-color');
  //  }
  //}

  //&--large {
  //  width: 100%;
  //  .theme(height, @button-large-height);
  //}

  //&--normal {
  //  padding: 0 15px;
  //  .theme(font-size, @button-normal-font-size);
  //}

  //&--small {
  //  .theme(min-width, @button-small-min-width);
  //  .theme(height, @button-small-height);
  //  .theme(padding, 0 @padding-xs);
  //  .theme(font-size, @button-small-font-size);
  //}
  //
  //// mini图标默认宽度50px，文字不能超过4个
  //&--mini {
  //  display: inline-block;
  //  .theme(min-width, @button-mini-min-width);
  //  .theme(height, @button-mini-height);
  //  .theme(font-size, @button-mini-font-size);
  //
  //  // 这个+号用的秒啊
  //  & + .van-button--mini {
  //    margin-left: 5px;
  //  }
  //}

  //&--block {
  //  display: flex;
  //  width: 100%;
  //}

  //&--round {
  //  .theme(border-radius, @button-round-border-radius);
  //}
  //
  //&--square {
  //  border-radius: 0;
  //}

  //&--disabled {
  //  .theme(opacity, @button-disabled-opacity);
  //}

  /* 这个没有弄过去 */
  /* 因为父元素本身就是flex布局 */
  /* 这个元素直接使用text就行了,用view再加dis:inline是多此一举 */
  //&__text {
  //  display: inline;
  //}

  /* todo 下面这几行在小程序和h5中可能会有兼容问题 */
  //&__loading-text,
  //&__icon + &__text:not(:empty) {
  //  margin-left: @padding-base;
  //}

  //&__icon {
  //  min-width: 1em;
  //  line-height: inherit !important;
  //  vertical-align: top;
  //}

  /* todo 为什么需要极细边框? */
  &--hairline {
    padding-top: 1px; // add 1px padding for text vertical align middle
    border-width: 0;

    &::after {
      border-color: inherit;
      border-width: 1px;
      .theme(border-radius, 'calc(@button-border-radius * 2)');
    }

    &.van-button--round::after {
      .theme(border-radius, '@button-round-border-radius');
    }

    &.van-button--square::after {
      border-radius: 0;
    }
  }
}
